<div> 
  <p><b>Clock In/Out Application</b></p>

  <% if user_signed_in? %>
    <div>
      <% @current_week_logs.map do |log| %> 
        <%= render partial: "shared/logs", locals: { time_log: log } %>
      <% end %> 
    </div>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path) %>  
    </li>
  <% end %>
</div>