h1 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

form {
  margin: 100px;
}

.actions {
  margin-top: 2em;
}